<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Uppercase</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>AE</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>D</string>
    <string>Eth</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>P</string>
    <string>Thorn</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>A-cy</string>
    <string>Be-cy</string>
    <string>Ve-cy</string>
    <string>Ge-cy</string>
    <string>Gje-cy</string>
    <string>Gheupturn-cy</string>
    <string>De-cy</string>
    <string>Ie-cy</string>
    <string>Iegrave-cy</string>
    <string>Io-cy</string>
    <string>Zhe-cy</string>
    <string>Ze-cy</string>
    <string>Ii-cy</string>
    <string>Iishort-cy</string>
    <string>Iigrave-cy</string>
    <string>Ka-cy</string>
    <string>Kje-cy</string>
    <string>El-cy</string>
    <string>Em-cy</string>
    <string>En-cy</string>
    <string>O-cy</string>
    <string>Pe-cy</string>
    <string>Er-cy</string>
    <string>Es-cy</string>
    <string>Te-cy</string>
    <string>U-cy</string>
    <string>Ushort-cy</string>
    <string>Ef-cy</string>
    <string>Ha-cy</string>
    <string>Che-cy</string>
    <string>Tse-cy</string>
    <string>Sha-cy</string>
    <string>Shcha-cy</string>
    <string>Dzhe-cy</string>
    <string>Softsign-cy</string>
    <string>Hardsign-cy</string>
    <string>Yeru-cy</string>
    <string>Lje-cy</string>
    <string>Nje-cy</string>
    <string>Dze-cy</string>
    <string>E-cy</string>
    <string>Ereversed-cy</string>
    <string>I-cy</string>
    <string>Yi-cy</string>
    <string>Je-cy</string>
    <string>Tshe-cy</string>
    <string>Iu-cy</string>
    <string>Ia-cy</string>
    <string>Dje-cy</string>
    <string>Yat-cy</string>
    <string>Yusbig-cy</string>
    <string>Fita-cy</string>
    <string>Izhitsa-cy</string>
    <string>Ghestroke-cy</string>
    <string>Ghemiddlehook-cy</string>
    <string>Zhedescender-cy</string>
    <string>Zedescender-cy</string>
    <string>Kadescender-cy</string>
    <string>Kaverticalstroke-cy</string>
    <string>Kabashkir-cy</string>
    <string>Endescender-cy</string>
    <string>Pedescender-cy</string>
    <string>Esdescender-cy</string>
    <string>Ustrait-cy</string>
    <string>Ustraitstroke-cy</string>
    <string>Chedescender-cy</string>
    <string>Cheverticalstroke-cy</string>
    <string>Shha-cy</string>
    <string>Palochka-cy</string>
    <string>Zhebreve-cy</string>
    <string>Chekhakassian-cy</string>
    <string>Abreve-cy</string>
    <string>Adieresis-cy</string>
    <string>Iebreve-cy</string>
    <string>Schwa-cy</string>
    <string>Zhedieresis-cy</string>
    <string>Zedieresis-cy</string>
    <string>Imacron-cy</string>
    <string>Idieresis-cy</string>
    <string>Odieresis-cy</string>
    <string>Obarred-cy</string>
    <string>Umacron-cy</string>
    <string>Udieresis-cy</string>
    <string>Uhungarumlaut-cy</string>
    <string>Chedieresis-cy</string>
    <string>Gedescender-cy</string>
    <string>Yerudieresis-cy</string>
    <string>Qa-cy</string>
    <string>We-cy</string>
  </array>
  <key>loclBGR</key>
  <array>
    <string>De-cy</string>
    <string>Zhe-cy</string>
    <string>Ka-cy</string>
    <string>El-cy</string>
    <string>ve-cy</string>
    <string>ge-cy</string>
    <string>de-cy</string>
    <string>zhe-cy</string>
    <string>ze-cy</string>
    <string>ii-cy</string>
    <string>iishort-cy</string>
    <string>ka-cy</string>
    <string>el-cy</string>
    <string>pe-cy</string>
    <string>te-cy</string>
    <string>tse-cy</string>
    <string>sha-cy</string>
    <string>shcha-cy</string>
    <string>hardsign-cy</string>
    <string>softsign-cy</string>
    <string>iu-cy</string>
    <string>iigrave-cy</string>
  </array>
  <key>loclBGR2</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Zhecyr.loclBGR</string>
    <string>Kacyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
    <string>igravecyr.loclBGR</string>
  </array>
</dict>
</plist>
